{% extends "base.html" %}

{% block content %}
    <h1>Note Details</h1>
    <hr>
    <h2>Title: <b>{{ note.title }}</b></h2>
    <h5>Topic: <a href="{% url 'topic-detail' note.topic.pk %}"><b>{{ note.topic.title }}</b></a></h5>
    <h5>Created by: <b>{{ note.created_by }}</b></h5>
    <hr>
    <p>{{ note.body }}</p>
{% endblock %}

{% block side_menu %}
    <li><a href="{% url "note-list" %}">Note list</a></li>
    <li><a href="{% url "topic-list" %}">Topic list</a></li>
    <li><a href="{% url "note-update" note.pk %}">Update</a></li>
    <li><a href="{% url "note-delete" note.pk %}">Delete</a></li>
{% endblock %}
