{% extends "base.html" %}
{% load mptt_tags %}

{% block content %}
    <h1>Topics</h1>
    <hr>
    {% if object_list %}
        <ul>
            {% recursetree object_list %}
                <li>
                    <a href="{% url 'topic-detail' node.pk %}">{{ node.title }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% else %}
        Empty list.
    {% endif %}
{% endblock %}

{% block side_menu %}
    <li><a href="{% url "note-list" %}">Note list</a></li>
    <li><a href="{% url 'topic-add' %}">Add topic</a></li>
{% endblock %}
