{% extends "base.html" %}

{% block content %}
    <h1>Topic Details</h1>
    <hr>
    <h2>Title: <b>{{ topic.title }}</b></h2>
    {% if topic.parent %}
        <h5>Parent: <a href="{% url 'topic-detail' topic.parent.pk %}">{{ topic.parent }}</a></h5>
    {% else %}
        <h5>This is a <b>root</b> topic</h5>
    {% endif %}
    <h5>Created by: <b>{{ topic.created_by }}</b></h5>
    <h5>Public: <b>{{ topic.is_public }}</b></h5>
{% endblock %}

{% block side_menu %}
    <li><a href="{% url "note-list" %}">Note list</a></li>
    <li><a href="{% url "topic-list" %}">Topic list</a></li>
    <li><a href="{% url "topic-update" topic.pk %}">Update</a></li>
    <li><a href="{% url "topic-delete" topic.pk %}">Delete</a></li>
{% endblock %}
